.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

.header ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.link { 
  padding: .5rem 1rem;
  border-radius: .5rem;
  background-color: #c3c3c3;
  color: #222;
  text-decoration: none;
}

.header :global(.active),
.link:hover {
  background-color: #a1a1a1;
}