.itemBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem 1rem;
}

.itemBox img {
  width: 100%;
  border-radius: 20px 20px 0px 20px;
  box-shadow: 2px 2px 3px #c1c1c1;
  grid-column: 1;
}

.conteudo {
  grid-column: 2;
  grid-row: 1;
  position: relative;
  font: 400 .8rem arial;
}

.conteudo::before {
  position: absolute;
  content: " ";
  width: 30px;
  height: 5px;
  top: 25px;
  left: -10px;
  transform: rotate(-45deg);
  z-index: -1;
  background-color: #d4b32f;
}

.conteudo span {
  color: #999;
  font-weight: 600;
}